{% if page.comment != false %}
    <div class="post-comments">
    {% if site.comment-support == "disqus" %}
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            var disqus_config = function () {
            this.page.url = '{{ page.url | absolute_url }}';
            this.page.identifier = '{{ page.url | absolute_url }}';
            };

            (function() {
            var d = document, s = d.createElement('script');

            s.src = 'https://{{ site.disqus.shortname }}.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
        </script>
    {% endif %}
    {% if site.comment-support == "utterances" %}
        <script src="https://utteranc.es/client.js"
            repo="{{ site.utterances.repo }}"
            issue-term="{{ site.utterances.issue-term }}"
            theme="{{ site.utterances.theme }}"
            crossorigin="anonymous"
            async>
        </script>
    {% endif %}
    </div>
{% endif %}